#hero{
}
#hero .hero-container{
  display: flex;
  justify-content: center;
}
#hero .hero-content{
    width:1100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}
#hero .col-1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: flex-end;
    align-items: baseline; */
}
#hero .col-2{
    /* width: 30%;
    display: inline-block; */
    min-height: 500px;
    width: 100%;
   
}
#hero .hero-img{
    background-image: url('./img/image-hero-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 706px;
    min-width: 500px;
}
#hero .col-1 h1{
 color: hsl(0, 0%, 8%);
 font-weight: 700;
 width: 244px;
 margin-top: 5em !important;

}
#hero .col-1 p{
    line-height: 1.7em;
    /* margin: 3em 0; */
}
#hero .col-1 button{
    border-radius: 1em;
    border: 1px solid hsl(0,0%,8%);
    background-color: hsl(0,0%,8%);
    color: hsl(0, 0%, 98%);
    margin-bottom: 2.3em;
    max-width: 165px;
    padding: 1em 1em;
}
#hero .col-1 button:hover{
    color:  hsl(0, 0%, 8%);
    background-color: transparent;
    border:1px solid  hsl(0, 0%, 8%);
}
#hero .brand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
   
}
#hero .brand> img{
    width: 80%;
    height: auto;
}
@media screen and (max-width: 480px){
    .full-width{
        width: 375px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    .hero-container{
       flex-direction: column;
    }
    #hero .hero-content{
        /* flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%; */
        display: block;
        width: 100%;
    }
    #hero .col-1{
      display: block;
      text-align: center;
    }
    #hero .col-1 h1{
      /* /* width: 100%; */
      margin: 1em 0 !important;
     
      display: block;
      width: 100%;
    }
    #hero .col-1 p{
        width: 100%;
        letter-spacing: 0.1em;
        font-size: 14px;
      }
    #hero .col-2{
       width: 100%;
       min-height: auto;
    }
    #hero .hero-img{
        background-image: url('./img/image-hero-mobile.png');
        background-size: cover;
        min-height: 375px;
       min-width: 100%;
    }
    #hero .brand{
        justify-content: space-around;
    }
    #hero .brand img{
        width: 70px;
    }
}