@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
  font-family: 'Fraunces', serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  background-color:hsl(0, 0%, 98%) ;
}
.container{
  width: 1440px;
  margin: 0 auto;
}
.bg-blur{
  background: rgba(0,0,0,0.8);
}
.full-width{
  width:100%;
  margin: 0 auto;
  position: relative;
}
.relative-pos{
  position: relative;
}